<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>home</title>
		<link rel="stylesheet" href="/static/assets/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jspdf.min.js"></script>
    <script src="/static/js/jspdf.debug.js"></script>
	</head>

	<body>
    <div class="page">
      <div class="main">
        <div class="container" style="width:625px;">
          <div class="row print">
            <div class="col-xs-12">
              <div class="p-box">
                <div class="p-logo">
                  <img src="../images/logo.png">
                </div>
                <form class="form-horizontal" role="form">
                  <div class="order-info">
                    <div class="col-xs-4">Order Information</div>
                    <div class="col-xs-8">NO. 22998843</div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">ERP NUM:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">322411</p>
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-xs-4 control-label">Status:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">Shipped</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Create time:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">2017.01.01 14:33</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Creater:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">Jason</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Shipping Address:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">Luca, +01 133123490411541 avenue Marcel Merieux,69280 MARCY L·ETOILE,France</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Billing Address:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">Luca, +01 133123490411541 avenue Marcel Merieux,69280 MARCY L·ETOILE,France</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Expcted shipping date:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">2017.01.01</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-4 control-label">Comment:</label>
                    <div class="col-xs-8">
                      <p class="form-control-static">ASPAAS</p>
                    </div>
                  </div>
                </form>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width:18%;">Product info.</th>
                      <th style="width:28%"> </th>
                      <th style="width:18%"> Ref.</th>
                      <th style="width:18%">Price</th>
                      <th style="width:18%">QTY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>                    
                      <td><img src="../images/367225.jpg" alt="" class="img-thumbnail"></td>
                      <td class="t-left info">sweat capuche zip noir aqua L</td>
                      <td>67 04 07</td>
                      <td>23.00 €</td>
                      <td>100</td>
                    </tr>
                    <tr>                    
                      <td><img src="../images/367225.jpg" alt="" class="img-thumbnail"></td>
                      <td class="t-left info">sweat capuche zip noir aqua L</td>
                      <td>67 04 07</td>
                      <td>23.00 €</td>
                      <td>100</td>
                    </tr>
                    <tr>                    
                      <td><img src="../images/367225.jpg" alt="" class="img-thumbnail"></td>
                      <td class="t-left info">sweat capuche zip noir aqua L</td>
                      <td>67 04 07</td>
                      <td>23.00 €</td>
                      <td>100</td>
                    </tr>
                  </tbody>
                </table>
                <div class="order-play">
                  <ul class="pay">
                    <li><span class="label">Summary</span><span class="static">13.800.00 €</span></li>
                    <li><span class="label">Shipping</span><span class="static">50.00 €</span></li>
                    <li><span class="label">Total price</span><span class="static total">13.800.00 €</span></li>
                  </ul>
                </div>
              </div>             
            </div>
          </div>
        </div>    
      </div>
    </div>
    <div>
      <button onclick="export_pdf()">pdf</button>
    </div>
	</body>

<!--   <body>
    <p id="ignorePDF">don't print this to pdf</p>
    <p>la la la la al la </p>
    <div>
      <p><font size="3" color="red">print this to pdf</font></p>
    </div>
    <button onclick="ecport_pdf()">pdf</button>
  </body> -->
</html>
<script type="text/javascript">
  // document().ready(function() {

  // });
  function export_pdf(){
    var doc = new jsPDF();          
    var elementHandler = {
      '#ignorePDF': function (element, renderer) {
        return true;
      }
    };
    // var source = window.document.getElementsByTagName("body")[0];
    var source = window.document.getElementsByTagName("body")[0];

    doc.fromHTML(
        source,
        15,
        15,
        {
          'width': 180,'elementHandlers': elementHandler
        });

    doc.output("dataurlnewwindow");
    // doc.save();
  }
</script>